.split-section {
    display: flex;
    flex-direction: row;
}

.c2, .c3 {
    width: 50%;
}

.c2 .aside {
    height: fit-content;
    /* min-height: 30%;
    max-height: 70%; */
}

.c3 .aside {
    /* height: 30%; */
    height: fit-content;
    /* max-height: 70%; */
}